---
layout: layout.njk
noIndex: true
pagination:
    data: questions
    size: 50
    alias: questions
permalink: "all/page/{{ pagination.pageNumber + 1 }}/"
renderData:
  page: "{{ pagination.pageNumber + 1 }}"
tags: question
---

{% set counter = (pagination.pageNumber * 50) + 1 %}
<ol start="{{ counter }}" class="questions">
{% for question in questions %}
  <li><a href="/{{ counter }}/">{{ question.title }}</a></li>
  {% set counter = counter + 1 %}
{% endfor %}
</ol>

{% if pagination.previousPageHref %}
  <a href="{{ pagination.previousPageHref }}">Previous</a>
{% endif %}
{% if pagination.nextPageHref %}
  <a href="{{ pagination.nextPageHref }}">Next</a>
{% endif %}