---
layout: layout.njk
pagination:
    data: questions
    size: 1
    alias: question
permalink: "{{ pagination.pageNumber + 1 }}/"
renderData:
  title: "{{ question.title }}"
  id: "{{ pagination.pageNumber + 1 }}"
  tags: question
tags: question
---

<div class="question">
  <div class="question-title" id="question">{{ question.title }}</div>
  <div class="question-menu">
    <a class="question-menu-item" href="{{ page.url }}">#{{ pagination.pageNumber + 1 }}</a>
    <span class="question-menu-item" id="copy-button">Copy</span>
    <a class="question-menu-item" target="_blank" href="http://twitter.com/share?text={{ question.title }} [by @questhinkcom]&url={{ website.url }}{{ page.url }}">Tweet</a>
    <a class="question-menu-item" id="another-question-button" href="">Another</a>
  </div>
</div>